{% load static %}
<!DOCTYPE html>
<html class="h-100 background">
	<head>
		<title>List Buku</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   		<script src="{% static 'js/jquery.slim.min.js' %}"></script>   
   		<script src="{% static 'js/scripts.js' %}"></script>
   		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	</head>
	<body>
		<div class="row my-5 container-fluid justify-content-center" id="title">
			<div class="col"></div>
			<div class="col mx-5 container-fluid justify-content-center">
				<p>WINDOWS TO INFINITY</p>
			</div>
			<div class="col"></div>
		</div>
		<div class="row my-5 container-fluid justify-content-center" id="search-container">
			<div class="col"></div>
			<div class="col container-fluid justify-content-center">
				<label for="searchbarinput">Search Book</label>
	            <input type="text" class="form-control" id="searchbarinput" placeholder="Search your book here">
        	</div>
        	<div class="col"></div>
		</div>
		<div class="row my-5 container-fluid justify-content-center" id="table-container">
			<div class="col container-fluid justify-content-left">
                <table class="table table-striped table-dark"></table>
            </div>
		</div>
	</body>